@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 100%;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  color: #222;
  background: #f7f7f7;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  height: 90px;
  background: skyblue;
}
.page-header {
  display: flex;
  justify-content: space-between;
  /* line-height: 90px; */
}
.page-title {
  margin-top: 18px;
}
.main-nav {
  display: flex;
  margin-top: 20px;
}

/* ---------ここからメイン部分------------- */
main {
  width: 100%;
  height: 800px;
}
.main-wrapper {
  display: flex;
}
.new-post-box {
  background: chartreuse;
  height: 800px;
  width: 20%;
  padding: 10px 10px 10px 20px;
  /* border-right: 1px #222 solid; */
}
/*-----------------------------------
入力エリア
-----------------------------------*/
label {
  display: block;
  margin-bottom: 7px;
  font-size: 100%;
  font-weight: bold;
}
input[type="text"],
textarea {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #fff;
}
input[type="text"] {
  width: 100%;
}
textarea {
  width: 100%;
  max-width: 100%;
  height: 200px;
}
input[type="submit"] {
  width: 100%;
  padding: 15px 30px;
  color: #fff;
  line-height: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #37a1e5;
}
input[type="submit"]:hover,
button:hover {
  background-color: #2392d8;
}

/*------------------------------
レビュー一覧エリア
--------------------------------*/
.review-boxes {
  /* background: chocolate; */
  padding: 20px;
  height: 800px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.box {
  width: 370px;
  height: 350px;
  /* background: rosybrown; */
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-right: 3%;
}
footer {
  width: 100%;
  height: 80px;
  background: pink;
  text-align: center;
  padding-top: 20px;
}
.copy-right {
  font-size: 1rem;
}
.container {
  width: 100%;
}
